/.DS_Store
/.vscode
/wind_turbine.foam
*.foam
.bash_history

*/*[1-9]*
*/processor*
*/constant/polymesh*
*/constant/geometry/*
*/constant/extendedFeatureEdgeMesh
log.*

rotor*

mesh/mesh_versions
mesh/castell
mesh/layers
mesh/snap
*/dynamicCode
postProcessing

*.stl
*.obj
